/* Fond principal */
body {
  overflow: hidden;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 1);
  background-image: url('../../assets/bg-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;

}

/* Overlay sombre ou flou */
.login-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* assombrit */
  backdrop-filter: blur(3px); /* ajoute un flou */
  z-index: 1; /* en dessous du texte */
}

/* Box centrale */
.login-box {
  width: 300px;
  padding: 40px 30px;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  z-index: 2;
}
.error{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Logo */
.login-logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* Inputs */
.input-group {
  margin: 15px 0;
  border: 1px solid #ccc;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.input-group svg{
    height: 25px;
    margin-top: 9.5px;
    margin-left: 5px;
    color: white;
}

.input-group input {
  width: 100%;
  padding: 12px;
  background: transparent;
  color: white;
  font-size: 14px;
  outline: none;
  border: none;
  flex: 1;
}

.input-group input::placeholder {
  color: white;
  font-size: 12px;
}

/* Bouton */
.login-btn {
  width: 100%;
  padding: 12px;
  background: rgba(192, 60, 71, 1);
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #d62828;
}

/* Forgot password */
.forgot {
  margin-top: 10px;
}

.forgot a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}