/* --- Variables CSS --- */
:root {
  --primary-red: #e24c4b;
  --dark-bg: #1a1a1a;
  --modal-bg: #2b2b2b;
  --text-color: #f0f0f0;
  --light-gray: #ccc;
  --input-bg: #3c3c3c;
  --input-border: #555;
  --error-color: #ff6b6b;
}

/* ---------------------------------- */
/* --- Styles du Conteneur Principal --- */
/* ---------------------------------- */

.cars-container {
  background-color: var(--dark-bg);
  padding: 20px;
  flex-grow: 1;
  height: 100%;
}

.cars-container h1 {
  color: var(--text-color);
  margin-bottom: 30px;
  font-size: 2em;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
