
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}
html  {
  margin: 0;
  padding: 0;
  overflow-y: auto;   /* autorise scroll vertical */
  background-color: rgba(24, 24, 24, 1);

}
